In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
pd.read_csv('/content/pokemon.csv')

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
# Automatycznie wygenerowałem indeks zaczynający się od zera

pd.read_csv('/content/pokemon.csv', usecols=['Attack'], squeeze=True)

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [ ]:
# Parametr do zmiany indeksu to index_col

ser1 = pd.read_csv('/content/pokemon.csv', usecols=['Attack','#'], squeeze=True,index_col='#')
ser1

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [ ]:
ser1[5]

64

In [ ]:
ser1[:6]

#
1     49
2     62
3     82
3    100
4     52
5     64
Name: Attack, dtype: int64

In [ ]:
ser1[[1,11,111]]

#
1      49
11     20
111    85
Name: Attack, dtype: int64

In [ ]:
ser2 = pd.read_csv('/content/pokemon.csv', usecols=['Name','Attack'], squeeze=True,index_col='Name')
ser2

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
                        ...
Diancie                  100
DiancieMega Diancie      160
HoopaHoopa Confined      110
HoopaHoopa Unbound       160
Volcanion                110
Name: Attack, Length: 800, dtype: int64

In [ ]:
ser2['Charmander']

52

In [ ]:
ser2.iloc[2]

82