In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Mcdonalds.csv')
frame.head()

    Category  ... Iron (% Daily Value)
0  Breakfast  ...                   15
1  Breakfast  ...                    8
2  Breakfast  ...                   10
3  Breakfast  ...                   15
4  Breakfast  ...                   10

[5 rows x 24 columns]

In [ ]:
series = pd.read_csv('/content/Mcdonalds.csv', usecols=['Item', 'Calories'], index_col='Item', squeeze=True)
series.head()

Item
Egg McMuffin                        300
Egg White Delight                   250
Sausage McMuffin                    370
Sausage McMuffin with Egg           450
Sausage McMuffin with Egg Whites    400
Name: Calories, dtype: int64

In [ ]:
series.count()

260

In [ ]:
frame.count()

Category                         260
Item                             260
Serving Size                     260
Calories                         260
Calories from Fat                260
TotalFat                         260
Total Fat (% Daily Value)        260
Saturated Fat                    260
Saturated Fat (% Daily Value)    260
Trans Fat                        260
Cholesterol                      260
Cholesterol (% Daily Value)      260
Sodium                           260
Sodium (% Daily Value)           260
Carbohydrates                    260
Carbohydrates (% Daily Value)    260
Dietary Fiber                    260
Dietary Fiber (% Daily Value)    260
Sugars                           260
Protein                          260
Vitamin A (% Daily Value)        260
Vitamin C (% Daily Value)        260
Calcium (% Daily Value)          260
Iron (% Daily Value)             260
dtype: int64

In [ ]:
len(series)

260

In [ ]:
len(frame)

260

In [ ]:
series.dtypes

dtype('int64')

In [ ]:
frame.dtypes

Category                          object
Item                              object
Serving Size                      object
Calories                           int64
Calories from Fat                  int64
TotalFat                         float64
Total Fat (% Daily Value)          int64
Saturated Fat                    float64
Saturated Fat (% Daily Value)      int64
Trans Fat                        float64
Cholesterol                        int64
Cholesterol (% Daily Value)        int64
Sodium                             int64
Sodium (% Daily Value)             int64
Carbohydrates                      int64
Carbohydrates (% Daily Value)      int64
Dietary Fiber                      int64
Dietary Fiber (% Daily Value)      int64
Sugars                             int64
Protein                            int64
Vitamin A (% Daily Value)          int64
Vitamin C (% Daily Value)          int64
Calcium (% Daily Value)            int64
Iron (% Daily Value)               int64
dtype: object

In [ ]:
frame.dtypes.value_counts()

int64      18
object      3
float64     3
dtype: int64

In [ ]:
series.shape

(260,)

In [ ]:
frame.shape

(260, 24)

In [ ]:
series.axes

[Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
        'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
        'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
        ...
        'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
        'McFlurry with M&M’s Candies (Small)',
        'McFlurry with M&M’s Candies (Medium)',
        'McFlurry with M&M’s Candies (Snack)',
        'McFlurry with Oreo Cookies (Small)',
        'McFlurry with Oreo Cookies (Medium)',
        'McFlurry with Oreo Cookies (Snack)',
        'McFlurry with Reese's Peanut Butter Cups (Medium)',
        'McFlurry with Reese's Peanut Butter Cups (Snack)'],
       dtype='object', name='Item', length=260)]

In [ ]:
frame.axes

[RangeIndex(start=0, stop=260, step=1),
 Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
        'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
        'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
        'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
        'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
        'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
        'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
        'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
       dtype='object')]

In [ ]:
series.index

Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
       'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
       'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
       ...
       'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
       'McFlurry with M&M’s Candies (Small)',
       'McFlurry with M&M’s Candies (Medium)',
       'McFlurry with M&M’s Candies (Snack)',
       'McFlurry with Oreo Cookies (Small)',
       'McFlurry with Oreo Cookies (Medium)',
       'McFlurry with Oreo Cookies (Snack)',
       'McFlurry with Reese's Peanut Butter Cups (Medium)',
       'McFlurry with Reese's Peanut Butter Cups (Snack)'],
      dtype='object', name='Item', length=260)

In [ ]:
frame.index

RangeIndex(start=0, stop=260, step=1)

In [ ]:
# series.columns

In [ ]:
frame.columns

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [ ]:
series.values

array([ 300,  250,  370,  450,  400,  430,  460,  520,  410,  470,  430,
        480,  510,  570,  460,  520,  410,  470,  540,  460,  400,  420,
        550,  500,  620,  570,  670,  740,  800,  640,  690, 1090, 1150,
        990, 1050,  350,  520,  300,  150,  460,  290,  260,  530,  520,
        600,  610,  540,  750,  240,  290,  430,  720,  380,  440,  430,
        430,  500,  510,  350,  670,  510,  610,  450,  750,  590,  430,
        360,  480,  430,  360,  630,  480,  610,  450,  670,  520,  540,
        380,  190,  280,  470,  940, 1880,  390,  140,  380,  220,  140,
        450,  290,  340,  260,  330,  250,  360,  280,  230,  340,  510,
        110,   20,   15,  150,  250,  160,  150,   45,  330,  340,  280,
        140,  200,  280,  100,    0,    0,    0,    0,  140,  190,  270,
        100,    0,    0,    0,    0,  140,  200,  280,  100,  100,  130,
         80,  150,  190,  280,    0,    0,    0,    0,    0,  150,  180,
        220,  110,    0,    0,    0,  170,  210,  280,  270,  340,  430,
        270,  330,  430,  260,  330,  420,  210,  260,  330,  100,  130,
        170,  200,  250,  310,  200,  250,  310,  190,  240,  300,  140,
        170,  220,  340,  410,  500,  270,  330,  390,  320,  390,  480,
        250,  310,  370,  360,  440,  540,  280,  340,  400,  140,  190,
        270,  130,  180,  260,  130,  180,  250,  120,  170,  240,   80,
        120,  160,  290,  350,  480,  240,  290,  390,  280,  340,  460,
        230,  270,  370,  450,  550,  670,  450,  550,  670,  530,  630,
        760,  220,  260,  340,  210,  250,  330,  210,  260,  340,  530,
        660,  820,  550,  690,  850,  560,  700,  850,  660,  820,  650,
        930,  430,  510,  690,  340,  810,  410])

In [ ]:
frame.values

array([['Breakfast', 'Egg McMuffin', '4.8 oz (136 g)', ..., 0, 25, 15],
       ['Breakfast', 'Egg White Delight', '4.8 oz (135 g)', ..., 0, 25,
        8],
       ['Breakfast', 'Sausage McMuffin', '3.9 oz (111 g)', ..., 0, 25,
        10],
       ...,
       ['Smoothies & Shakes', 'McFlurry with Oreo Cookies (Snack)',
        '6.7 oz (190 g)', ..., 0, 25, 6],
       ['Smoothies & Shakes',
        "McFlurry with Reese's Peanut Butter Cups (Medium)",
        '14.2 oz (403 g)', ..., 0, 60, 6],
       ['Smoothies & Shakes',
        "McFlurry with Reese's Peanut Butter Cups (Snack)",
        '7.1 oz (202 g)', ..., 0, 30, 4]], dtype=object)

In [ ]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Category                       260 non-null    object
 1   Item                           260 non-null    object
 2   Serving Size                   260 non-null    object
 3   Calories                       260 non-null    int64
 4   Calories from Fat              260 non-null    int64
 5   TotalFat                       260 non-null    float64
 6   Total Fat (% Daily Value)      260 non-null    int64
 7   Saturated Fat                  260 non-null    float64
 8   Saturated Fat (% Daily Value)  260 non-null    int64
 9   Trans Fat                      260 non-null    float64
 10  Cholesterol                    260 non-null    int64
 11  Cholesterol (% Daily Value)    260 non-null    int64
 12  Sodium                         260 non-null    int64
 13  Sodium (% Daily Value)         260 non-null    int64
 14  Carbohydrates                  260 non-null    int64
 15  Carbohydrates (% Daily Value)  260 non-null    int64
 16  Dietary Fiber                  260 non-null    int64
 17  Dietary Fiber (% Daily Value)  260 non-null    int64
 18  Sugars                         260 non-null    int64
 19  Protein                        260 non-null    int64
 20  Vitamin A (% Daily Value)      260 non-null    int64
 21  Vitamin C (% Daily Value)      260 non-null    int64
 22  Calcium (% Daily Value)        260 non-null    int64
 23  Iron (% Daily Value)           260 non-null    int64
dtypes: float64(3), int64(18), object(3)
memory usage: 48.9+ KB

In [ ]:
series.value_counts()

0      16
340    10
430    10
280     9
250     8
       ..
740     1
760     1
930     1
810     1
650     1
Name: Calories, Length: 78, dtype: int64

In [ ]:
frame['Calories'].value_counts()

0      16
340    10
430    10
280     9
250     8
       ..
740     1
760     1
930     1
810     1
650     1
Name: Calories, Length: 78, dtype: int64

In [ ]:
frame['Category'].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Beverages             27
Chicken & Fish        27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

Metodą sample losowo wybiorę dane; za każdym razem mogą być inne

In [ ]:
series.sample()

Item
Bacon, Egg & Cheese Bagel with Egg Whites    570
Name: Calories, dtype: int64

In [ ]:
frame.sample()

         Category  ... Iron (% Daily Value)
187  Coffee & Tea  ...                    2

[1 rows x 24 columns]

In [ ]:
frame.sample(n=3)

         Category  ... Iron (% Daily Value)
138  Coffee & Tea  ...                    0
181  Coffee & Tea  ...                    6
141  Coffee & Tea  ...                    0

[3 rows x 24 columns]

In [ ]:
frame.sample(n=3, axis='columns')

     Total Fat (% Daily Value)  Calories  Cholesterol
0                           20       300          260
1                           12       250           25
2                           35       370           45
3                           43       450          285
4                           35       400           50
..                         ...       ...          ...
255                         26       510           45
256                         35       690           55
257                         17       340           30
258                         50       810           60
259                         25       410           30

[260 rows x 3 columns]