In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...      300      13.0
1  Breakfast                 Egg White Delight  ...      250       8.0
2  Breakfast                  Sausage McMuffin  ...      370      23.0
3  Breakfast         Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...      400      23.0

[5 rows x 5 columns]

In [ ]:
frame.dtypes

Category         object
Item             object
Serving Size     object
Calories          int64
TotalFat        float64
dtype: object

In [ ]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    object
 1   Item          260 non-null    object
 2   Serving Size  260 non-null    object
 3   Calories      260 non-null    int64
 4   TotalFat      260 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 10.3+ KB

Pomiar pamięci DataFrame

In [ ]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    object
 1   Item          260 non-null    object
 2   Serving Size  260 non-null    object
 3   Calories      260 non-null    int64
 4   TotalFat      260 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.7 KB

In [ ]:
frame.loc[1,'Serving Size'] = np.NaN
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...      300      13.0
1  Breakfast                 Egg White Delight  ...      250       8.0
2  Breakfast                  Sausage McMuffin  ...      370      23.0
3  Breakfast         Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...      400      23.0

[5 rows x 5 columns]

In [ ]:
frame.loc[2,'Calories'] = np.NaN
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...    300.0      13.0
1  Breakfast                 Egg White Delight  ...    250.0       8.0
2  Breakfast                  Sausage McMuffin  ...      NaN      23.0
3  Breakfast         Sausage McMuffin with Egg  ...    450.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...    400.0      23.0

[5 rows x 5 columns]

In [ ]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    object
 1   Item          260 non-null    object
 2   Serving Size  259 non-null    object
 3   Calories      259 non-null    float64
 4   TotalFat      260 non-null    float64
dtypes: float64(2), object(3)
memory usage: 61.6 KB

In [ ]:
# frame['Calories'].astype('int') error

In [ ]:
frame['Calories'].fillna(value=0,inplace=True)
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...    300.0      13.0
1  Breakfast                 Egg White Delight  ...    250.0       8.0
2  Breakfast                  Sausage McMuffin  ...      0.0      23.0
3  Breakfast         Sausage McMuffin with Egg  ...    450.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...    400.0      23.0

[5 rows x 5 columns]

In [ ]:
frame['Calories'] = frame['Calories'].astype('int')
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...      300      13.0
1  Breakfast                 Egg White Delight  ...      250       8.0
2  Breakfast                  Sausage McMuffin  ...        0      23.0
3  Breakfast         Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...      400      23.0

[5 rows x 5 columns]

In [ ]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    object
 1   Item          260 non-null    object
 2   Serving Size  259 non-null    object
 3   Calories      260 non-null    int64
 4   TotalFat      260 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.6 KB

In [ ]:
frame['Category'].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Beverages             27
Chicken & Fish        27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

Aby zmiejszyć pamieć konwertuje kolumnę object na category

In [ ]:
frame['Category'] = frame['Category'].astype('category')
frame.head()
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    category
 1   Item          260 non-null    object
 2   Serving Size  259 non-null    object
 3   Calories      260 non-null    int64
 4   TotalFat      260 non-null    float64
dtypes: category(1), float64(1), int64(1), object(2)
memory usage: 45.3 KB

In [ ]:
frame['Serving Size'].value_counts()

16 fl oz cup       45
12 fl oz cup       38
22 fl oz cup       20
20 fl oz cup       16
30 fl oz cup        7
                   ..
15.4 oz (437 g)     1
11.8 oz (335 g)     1
6.4 oz (182 g)      1
6.4 oz (181 g)      1
8 oz (227 g)        1
Name: Serving Size, Length: 106, dtype: int64

In [ ]:
frame['Serving Size'] = frame['Serving Size'].astype('category')
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      260 non-null    category
 1   Item          260 non-null    object
 2   Serving Size  259 non-null    category
 3   Calories      260 non-null    int64
 4   TotalFat      260 non-null    float64
dtypes: category(2), float64(1), int64(1), object(1)
memory usage: 40.2 KB