In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...      300      13.0
1  Breakfast                 Egg White Delight  ...      250       8.0
2  Breakfast                  Sausage McMuffin  ...      370      23.0
3  Breakfast         Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...      400      23.0

[5 rows x 5 columns]

In [ ]:
(frame['Calories'] >=400).head()

0    False
1    False
2    False
3     True
4     True
Name: Calories, dtype: bool

In [ ]:
caloriesGreaterEqual400 = frame['Calories'] >= 400
totalFatLessEqual20 = frame['TotalFat'] <= 20

In [ ]:
frame[caloriesGreaterEqual400].head()

    Category                                           Item  ... Calories  TotalFat
3  Breakfast                      Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast               Sausage McMuffin with Egg Whites  ...      400      23.0
5  Breakfast                           Steak & Egg McMuffin  ...      430      23.0
6  Breakfast  Bacon, Egg & Cheese Biscuit (Regular Biscuit)  ...      460      26.0
7  Breakfast    Bacon, Egg & Cheese Biscuit (Large Biscuit)  ...      520      30.0

[5 rows x 5 columns]

In [ ]:
frame[totalFatLessEqual20].head()

     Category  ... TotalFat
0   Breakfast  ...     13.0
1   Breakfast  ...      8.0
8   Breakfast  ...     20.0
16  Breakfast  ...     20.0
20  Breakfast  ...     15.0

[5 rows x 5 columns]

In [ ]:
isBreakfast = frame['Category'] == 'Breakfast'
frame[isBreakfast & caloriesGreaterEqual400].head()

    Category                                           Item  ... Calories  TotalFat
3  Breakfast                      Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast               Sausage McMuffin with Egg Whites  ...      400      23.0
5  Breakfast                           Steak & Egg McMuffin  ...      430      23.0
6  Breakfast  Bacon, Egg & Cheese Biscuit (Regular Biscuit)  ...      460      26.0
7  Breakfast    Bacon, Egg & Cheese Biscuit (Large Biscuit)  ...      520      30.0

[5 rows x 5 columns]

In [ ]:
frame[caloriesGreaterEqual400 & totalFatLessEqual20 & isBreakfast].head()

     Category  ... TotalFat
8   Breakfast  ...     20.0
16  Breakfast  ...     20.0
20  Breakfast  ...     15.0
39  Breakfast  ...     19.0

[4 rows x 5 columns]

Znak ~ to zaprzeczenie

In [ ]:
frame[~ isBreakfast].head()

       Category                                       Item  ... Calories  TotalFat
42  Beef & Pork                                    Big Mac  ...      530      27.0
43  Beef & Pork                Quarter Pounder with Cheese  ...      520      26.0
44  Beef & Pork        Quarter Pounder with Bacon & Cheese  ...      600      29.0
45  Beef & Pork  Quarter Pounder with Bacon Habanero Ranch  ...      610      31.0
46  Beef & Pork                     Quarter Pounder Deluxe  ...      540      27.0

[5 rows x 5 columns]