In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
frame.head()

    Category                              Item  ... Calories  TotalFat
0  Breakfast                      Egg McMuffin  ...      300      13.0
1  Breakfast                 Egg White Delight  ...      250       8.0
2  Breakfast                  Sausage McMuffin  ...      370      23.0
3  Breakfast         Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...      400      23.0

[5 rows x 5 columns]

In [ ]:
has400CalOrMore = frame['Calories'] >= 400
has400CalOrMore[:5]

0    False
1    False
2    False
3     True
4     True
Name: Calories, dtype: bool

Filtrowanie po Where należy stosować kiedy wynik ma mieć oryginalny kształt DataFrame (ilość wierszy)

In [ ]:
frame.where(has400CalOrMore).head()

    Category                              Item  ... Calories  TotalFat
0        NaN                               NaN  ...      NaN       NaN
1        NaN                               NaN  ...      NaN       NaN
2        NaN                               NaN  ...      NaN       NaN
3  Breakfast         Sausage McMuffin with Egg  ...    450.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites  ...    400.0      23.0

[5 rows x 5 columns]

In [ ]:
frame[has400CalOrMore].head()

    Category                                           Item  ... Calories  TotalFat
3  Breakfast                      Sausage McMuffin with Egg  ...      450      28.0
4  Breakfast               Sausage McMuffin with Egg Whites  ...      400      23.0
5  Breakfast                           Steak & Egg McMuffin  ...      430      23.0
6  Breakfast  Bacon, Egg & Cheese Biscuit (Regular Biscuit)  ...      460      26.0
7  Breakfast    Bacon, Egg & Cheese Biscuit (Large Biscuit)  ...      520      30.0

[5 rows x 5 columns]

Filtrowanie po Query

In [ ]:
frame.query('Category == "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [ ]:
frame.query('Category in ["Desserts", "Beverages"]').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [ ]:
frame.query('Category == "Desserts" and Calories < 200').head()

     Category                   Item     Serving Size  Calories  TotalFat
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5