In [ ]:
import pandas as pd
import numpy as np

In [ ]:
fuel = pd.read_csv("fuel.csv",
usecols=['Vehicle ID','Year','Make',
'Model','Class','Fuel Type',
'Combined MPG (FT1)','Start Stop Technology'],
index_col = 'Vehicle ID', low_memory=False)
fuel.head()

            Year        Make  ... Combined MPG (FT1) Start Stop Technology
Vehicle ID                    ...
26587       1984  Alfa Romeo  ...                 20                   NaN
27705       1984  Alfa Romeo  ...                 20                   NaN
26561       1984  Alfa Romeo  ...                 21                   NaN
27681       1984  Alfa Romeo  ...                 21                   NaN
27550       1984  AM General  ...                 17                   NaN

[5 rows x 7 columns]

In [ ]:
listOfCars = ['Renault', 'Toyota','Ford']
isInList = fuel['Make'].isin(listOfCars)
isInList.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Make, dtype: bool

In [ ]:
fuel[isInList].head()

            Year  Make  ... Combined MPG (FT1) Start Stop Technology
Vehicle ID              ...
27613       1984  Ford  ...                 13                   NaN
27616       1984  Ford  ...                 11                   NaN
27619       1984  Ford  ...                 10                   NaN
27622       1984  Ford  ...                 11                   NaN
28472       1984  Ford  ...                 13                   NaN

[5 rows x 7 columns]

In [ ]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()
isNoStartStopDefined.head()

Vehicle ID
26587    True
27705    True
26561    True
27681    True
27550    True
Name: Start Stop Technology, dtype: bool

In [ ]:
fuel[isNoStartStopDefined].head()

            Year        Make  ... Combined MPG (FT1) Start Stop Technology
Vehicle ID                    ...
26587       1984  Alfa Romeo  ...                 20                   NaN
27705       1984  Alfa Romeo  ...                 20                   NaN
26561       1984  Alfa Romeo  ...                 21                   NaN
27681       1984  Alfa Romeo  ...                 21                   NaN
27550       1984  AM General  ...                 17                   NaN

[5 rows x 7 columns]

In [ ]:
mpg50_60 = fuel['Combined MPG (FT1)'].between(50,60)
mpg50_60.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Combined MPG (FT1), dtype: bool

In [ ]:
fuel[mpg50_60].head()

Empty DataFrame
Columns: [Year, Make, Model, Class, Fuel Type, Combined MPG (FT1), Start Stop Technology]
Index: []

In [ ]:
print('There are %d cars within the list %s' %
 (len(fuel[isInList]), listOfCars))
print('There are %d cars where Start/Stop technology is not determined' %
len(fuel[isNoStartStopDefined]))
print('There are %d cars where Start/Stop technology is determined' %
len(fuel[mpg50_60]))

There are 574 cars within the list ['Renault', 'Toyota', 'Ford']
There are 3601 cars where Start/Stop technology is not determined
There are 0 cars where Start/Stop technology is determined