In [ ]:
import pandas as pd
import numpy as np

In [ ]:
color = ['green', 'green', 'blue', 'blue', 'red', 'red', 'white']
size = ['S','S','S','M','M','M','L']
gender = ['M','W','M','W','M','W','U']
clothes = pd.DataFrame({'color':color, 'size':size, 'gender':gender})
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [ ]:
clothes['color'].is_unique

False

In [ ]:
clothes['color'].unique()

array(['green', 'blue', 'red', 'white'], dtype=object)

In [ ]:
clothes['color'].nunique()

4

In [ ]:
len(clothes['color'].unique())

4

In [ ]:
clothes.loc[6,'color'] = np.NaN

In [ ]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [ ]:
clothes['color'].unique()

array(['green', 'blue', 'red', nan], dtype=object)

In [ ]:
clothes['color'].nunique()

3

In [ ]:
len(clothes['color'].unique())

4

Dla metody duplicated() domyślnie zachowuje pierwszą wartość i kolejne duplikaty są pomijane

In [ ]:
clothes['color'].duplicated(keep='first')

0    False
1     True
2    False
3     True
4    False
5     True
6    False
Name: color, dtype: bool

In [ ]:
clothes['color'].duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
Name: color, dtype: bool

In [ ]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [ ]:
clothes['color'].duplicated(keep='last')

0     True
1    False
2     True
3    False
4     True
5    False
6    False
Name: color, dtype: bool

In [ ]:
clothes['color'].duplicated(keep=False)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: color, dtype: bool

In [ ]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

Pokaż mi pierwsze powtarzające się wiersze

In [ ]:
uniqueValues = clothes['color'].duplicated(keep='first')
clothes[uniqueValues]

   color size gender
1  green    S      W
3   blue    M      W
5    red    M      W

Pokaż mi pierwsze unikalne wiersze

In [ ]:
uniqueValues = clothes['color'].duplicated(keep='first')
clothes[~uniqueValues]

   color size gender
0  green    S      M
2   blue    S      M
4    red    M      M
6    NaN    L      U

Usunięcie powtarzających się elementów

In [ ]:
clothes.drop_duplicates(subset=['color'],keep='first')

   color size gender
0  green    S      M
2   blue    S      M
4    red    M      M
6    NaN    L      U

Sprawdzenie czy kombinacja dwóch wartości jest duplikatem

In [ ]:
clothes.drop_duplicates(['color','size'])

   color size gender
0  green    S      M
2   blue    S      M
3   blue    M      W
4    red    M      M
6    NaN    L      U

In [ ]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U