In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Insurance.csv')
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
frame = pd.read_csv('/content/Insurance.csv')
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [ ]:
frame.loc[2,'Claims']

20

In [ ]:
frame.loc[2,'Claims'] = 19

In [ ]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [ ]:
frame.loc[2,'Claims'] += 1
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

Modyfikacja większej ilości danych w kolumnie za jednym zamachem

In [ ]:
frame['Age'] == '<25'

0      True
1     False
2     False
3     False
4      True
      ...
59    False
60     True
61    False
62    False
63    False
Name: Age, Length: 64, dtype: bool

In [ ]:
isYounger25 = frame['Age'] == '<25'
frame.where(isYounger25)

      ID  District   Group  Age  Holders  Claims
0    1.0       1.0     <1l  <25    197.0    38.0
1    NaN       NaN     NaN  NaN      NaN     NaN
2    NaN       NaN     NaN  NaN      NaN     NaN
3    NaN       NaN     NaN  NaN      NaN     NaN
4    5.0       1.0  1-1.5l  <25    284.0    63.0
..   ...       ...     ...  ...      ...     ...
59   NaN       NaN     NaN  NaN      NaN     NaN
60  61.0       4.0     >2l  <25      3.0     0.0
61   NaN       NaN     NaN  NaN      NaN     NaN
62   NaN       NaN     NaN  NaN      NaN     NaN
63   NaN       NaN     NaN  NaN      NaN     NaN

[64 rows x 6 columns]

dropna usuwa NaN; nawiasy kwadratowe [ ] nie usuną NaN

In [ ]:
frame.where(isYounger25).dropna().head()

      ID  District   Group  Age  Holders  Claims
0    1.0       1.0     <1l  <25    197.0    38.0
4    5.0       1.0  1-1.5l  <25    284.0    63.0
8    9.0       1.0  1.5-2l  <25    133.0    19.0
12  13.0       1.0     >2l  <25     24.0     4.0
16  17.0       2.0     <1l  <25     85.0    22.0

In [ ]:
frame[isYounger25].head()

    ID  District   Group  Age  Holders  Claims
0    1         1     <1l  <25      197      38
4    5         1  1-1.5l  <25      284      63
8    9         1  1.5-2l  <25      133      19
12  13         1     >2l  <25       24       4
16  17         2     <1l  <25       85      22

In [ ]:
frame.loc[isYounger25,'Holders'].head()

0     197
4     284
8     133
12     24
16     85
Name: Holders, dtype: int64

In [ ]:
frame.loc[isYounger25,'Holders'] + 100

0     297
4     384
8     233
12    124
16    185
20    249
24    166
28    109
32    135
36    153
40    124
44    107
48    120
52    131
56    118
60    103
Name: Holders, dtype: int64

In [ ]:
frame.loc[isYounger25,'Holders'] = frame.loc[isYounger25, 'Holders'] + 100
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      384      63

Uproszczony powyższy zapis to:

In [ ]:
frame.loc[isYounger25,'Holders'] += 1000
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25     1297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25     1384      63

In [ ]:
frame.loc[isYounger25,'Holders'] = frame['Holders'] + 1000
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25     2297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25     2384      63