In [ ]:
import pandas as pd
import numpy as np

In [ ]:
incidents = pd.read_csv('/content/Canadian Railway Crossing Incidents.csv')
incidents.head(10)

          Region         EventType  ...  Private  Farm
0   Newfoundland         Accidents  ...        0     0
1   Newfoundland        Fatalities  ...        0     0
2   Newfoundland  Serious injuries  ...        0     0
3    Nova Scotia         Accidents  ...        0     0
4    Nova Scotia        Fatalities  ...        0     0
5    Nova Scotia  Serious injuries  ...        0     0
6  New Brunswick         Accidents  ...        0     0
7  New Brunswick        Fatalities  ...        0     0
8  New Brunswick  Serious injuries  ...        0     0
9         Quebec         Accidents  ...        1     0

[10 rows x 6 columns]

In [ ]:
incidents.set_index(['Region', 'EventType'],inplace=True)
incidents.sort_index(inplace=True)
incidents.head(10)

                                   Public automated  ...  Farm
Region           EventType                           ...
Alberta          Accidents                        3  ...     0
                 Fatalities                       0  ...     0
                 Serious injuries                 0  ...     0
British Columbia Accidents                        4  ...     0
                 Fatalities                       0  ...     0
                 Serious injuries                 3  ...     0
Manitoba         Accidents                        1  ...     2
                 Fatalities                       0  ...     0
                 Serious injuries                 0  ...     1
New Brunswick    Accidents                        0  ...     0

[10 rows x 4 columns]

In [ ]:
incidents.loc[('Alberta','Accidents')]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [ ]:
incidents.loc[('Alberta')]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [ ]:
incidents.loc['Alberta']

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [ ]:
incidents.head()

                                   Public automated  ...  Farm
Region           EventType                           ...
Alberta          Accidents                        3  ...     0
                 Fatalities                       0  ...     0
                 Serious injuries                 0  ...     0
British Columbia Accidents                        4  ...     0
                 Fatalities                       0  ...     0

[5 rows x 4 columns]

In [ ]:
incidents.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [ ]:
incidents.loc[('Alberta','Accidents')].loc['Public passive']

7

In [ ]:
incidents.loc[('Alberta', 'Accidents'),'Public passive']

7