In [ ]:
import pandas as pd
import numpy as np

In [ ]:
products = pd.read_csv('/content/WA_Sales_Products_2012-14.csv')
products.head()

  Retailer country Order method type  ... Quantity Gross margin
0    United States               Fax  ...      489     0.347548
1    United States               Fax  ...      252     0.474274
2    United States               Fax  ...      147     0.352772
3    United States               Fax  ...      303     0.282938
4    United States               Fax  ...     1415     0.291450

[5 rows x 11 columns]

In [ ]:
products.describe

<bound method NDFrame.describe of       Retailer country Order method type  ... Quantity Gross margin
0        United States               Fax  ...      489     0.347548
1        United States               Fax  ...      252     0.474274
2        United States               Fax  ...      147     0.352772
3        United States               Fax  ...      303     0.282938
4        United States               Fax  ...     1415     0.291450
...                ...               ...  ...      ...          ...
88470            Spain       Sales visit  ...      171     0.299114
88471            Spain       Sales visit  ...      191     0.446287
88472            Spain       Sales visit  ...      236     0.569420
88473            Spain       Sales visit  ...     1470     0.491667
88474            Spain       Sales visit  ...     1176     0.387895

[88475 rows x 11 columns]>

In [ ]:
groups = products.groupby(by=['Retailer country', 'Year'])

In [ ]:
groups['Revenue'].sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [ ]:
groups.Revenue.sum().head()

Retailer country  Year
Australia         2012    25607043.50
                  2013    47799737.14
                  2014    35893188.50
Austria           2012    34568089.63
                  2013    44996737.04
Name: Revenue, dtype: float64

In [ ]:
groups['Quantity'].sum().head()

Retailer country  Year
Australia         2012    522186
                  2013    839750
                  2014    638845
Austria           2012    702134
                  2013    803771
Name: Quantity, dtype: int64

In [ ]:
groups.Quantity.sum().head()

Retailer country  Year
Australia         2012    522186
                  2013    839750
                  2014    638845
Austria           2012    702134
                  2013    803771
Name: Quantity, dtype: int64

In [ ]:
groups['Gross margin'].sum().head()

Retailer country  Year
Australia         2012    625.835424
                  2013    625.650690
                  2014    390.336301
Austria           2012    636.115492
                  2013    665.086198
Name: Gross margin, dtype: float64

In [ ]:
groups.agg({'Revenue' : 'sum'}).head()

                           Revenue
Retailer country Year
Australia        2012  25607043.50
                 2013  47799737.14
                 2014  35893188.50
Austria          2012  34568089.63
                 2013  44996737.04

In [ ]:
groups.agg({'Gross margin' : 'mean'}).head()

                       Gross margin
Retailer country Year
Australia        2012      0.447985
                 2013      0.457347
                 2014      0.446609
Austria          2012      0.446084
                 2013      0.456790

In [ ]:
groups.agg({'Revenue' : 'sum',
            'Quantity' : 'sum',
            'Gross margin' : 'mean'}).head()

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186      0.447985
                 2013  47799737.14    839750      0.457347
                 2014  35893188.50    638845      0.446609
Austria          2012  34568089.63    702134      0.446084
                 2013  44996737.04    803771      0.456790

In [ ]:
groups.agg({'Revenue' : ['sum','min','max'],
            'Quantity' : ['sum','min','max'],
            'Gross margin' : 'mean'}).head()

                           Revenue                  ... Quantity        Gross margin
                               sum  min        max  ...      min    max         mean
Retailer country Year                               ...
Australia        2012  25607043.50  0.0  254026.08  ...        4   6083     0.447985
                 2013  47799737.14  0.0  443746.60  ...       10   9442     0.457347
                 2014  35893188.50  0.0  516135.14  ...        1  20031     0.446609
Austria          2012  34568089.63  0.0  199715.40  ...        5   6471     0.446084
                 2013  44996737.04  0.0  317161.24  ...        4   9662     0.456790

[5 rows x 7 columns]

In [ ]:
my_aggregation = ['sum','min','max']

groups.agg({'Revenue' : my_aggregation,
            'Quantity' : my_aggregation,
            'Gross margin' : 'mean'}).head()

                           Revenue                  ... Quantity        Gross margin
                               sum  min        max  ...      min    max         mean
Retailer country Year                               ...
Australia        2012  25607043.50  0.0  254026.08  ...        4   6083     0.447985
                 2013  47799737.14  0.0  443746.60  ...       10   9442     0.457347
                 2014  35893188.50  0.0  516135.14  ...        1  20031     0.446609
Austria          2012  34568089.63  0.0  199715.40  ...        5   6471     0.446084
                 2013  44996737.04  0.0  317161.24  ...        4   9662     0.456790

[5 rows x 7 columns]