In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
pd.read_csv('/content/pokemon.csv')

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
obj = pd.read_csv('/content/pokemon.csv')
type(obj)

pandas.core.frame.DataFrame

In [ ]:
pd.read_csv('/content/pokemon.csv', usecols=['Name'])

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [ ]:
# Konwersja DataFrame do Serii

pd.read_csv('/content/pokemon.csv', usecols=['Name'], squeeze=True)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
obj = pd.read_csv('/content/pokemon.csv', usecols=['Name'], squeeze=True)
type(obj)

pandas.core.series.Series

In [ ]:
obj.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
obj.tail()

# PiÄ™Ä‡ dolnych wierszy

795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [ ]:
obj.head(10)

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [ ]:
obj.tail(4)

796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [ ]:
obj.size

800

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
len(obj)

800

In [ ]:
sorted(obj.head(10))

['Bulbasaur',
 'Charizard',
 'CharizardMega Charizard X',
 'CharizardMega Charizard Y',
 'Charmander',
 'Charmeleon',
 'Ivysaur',
 'Squirtle',
 'Venusaur',
 'VenusaurMega Venusaur']

In [ ]:
type(sorted(obj))

# Lista to obiekt w Pythonie (nie Pandas)

list

In [ ]:
list(obj.head())

['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur', 'Charmander']

In [ ]:
type(list(obj.head()))

list

In [ ]:
dict(obj.head())

# SÅ‚ownik to obiekt w Pythonie (nie Pandas)

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'VenusaurMega Venusaur',
 4: 'Charmander'}

In [ ]:
type(dict(obj.head()))

dict

In [ ]:
min(obj)

'Abomasnow'

In [ ]:
max(obj)

'Zygarde50% Forme'