In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
pok = pd.read_csv("/content/pokemon.csv", usecols=['Name'], squeeze=True)

In [ ]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
pok.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [ ]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [ ]:
# Samo sortowanie nie wpływa na obiekt pok

pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
# Aby zapisać sortowanie stosuje parametr

pok.sort_values(inplace=True)
pok.head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [ ]:
# Sortowanie po indeksie 

pok.sort_index().head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
# Sortowanie po indeksie malejąco (tworzę nową Serię)

pok = pok.sort_index(ascending=False)
pok.head()

799              Volcanion
798     HoopaHoopa Unbound
797    HoopaHoopa Confined
796    DiancieMega Diancie
795                Diancie
Name: Name, dtype: object